.page-header {
    background-color: lightcyan;
    padding: 0.5em;
    padding-left: 2em;
}

.nav-item {
    border: lightcyan 1px solid;
    background-color: whitesmoke;
}

.nav-item a:hover {
    background-color: lightcyan;
}

.login-view {
    margin-top: 2em;
}

.card {
    margin-top: 1em;
}

.create-user-card {
    width: 49%;
    margin-bottom: 1em;
}