.page-header {
    background-color: lightcyan;
    padding: 0.5em;
    padding-left: 2em;
}

.navbar {
    background-color: #e3f2fd;
}

.nav-item {
    border: lightgray 1px solid;
    background-color: white;
}

.nav-item a:hover {
    background-color: lightgray;
}

.login-view {
    margin-top: 2em;
}

.container-card {
    margin-top: 1em;
}

.create-user-card, .create-admin-card {
    width: 49%;
    margin-bottom: 1em;
    height: 100%;
}

.table-container {
    max-height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
}

.custom-switch {
    padding-left: 3.25rem;
    margin-bottom: 1em;
}

.login-form-row {
    height: 85vh;
}

.login-form-container {
    align-self: center;
}